/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: 'Oleo Script', cursive; */

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 940px;
  margin: 0 auto;
}

/* HEADER */
header {
  padding-top: 42px;
  padding-bottom: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.site-logo {
  font-size: 26px;
  font-family: "Oleo Script", cursive;
  color: #fed136;
  letter-spacing: 1px;
  line-height: 41px;
  text-transform: capitalize;
  font-style: italic;
}
.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 41px;
}
.nav-list-link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 41px;
  color: #222222;
  font-weight: 400;
  transition: color 0.2s linear;
}
.nav-list-link:hover {
  color: #fed136;
}

/* SERVICE SECTION */
section {
  padding-top: 93px;
  padding-bottom: 115px;
}
h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 75px;
  text-align: center;
}
h2 span {
  display: block;
  font-size: 16px;
  font-family: "Lora", serif;
  color: #777777;
  font-style: italic;
  line-height: 19px;
  margin-bottom: 80px;
  text-transform: none;
}
h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 75px;
}
.service-list-item p {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #777777;
  line-height: 1.2;
}
.service-list {
  display: flex;
  justify-content: space-between;
}
.service-list-item {
  flex-basis: 280px;
  text-align: center;
}
.service-list-item::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  border: 3px solid rgb(254, 209, 54);
  border-radius: 50%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

.basket::before {
  background-image: url(../img/Icon-Basket.png);
}
.laptop::before {
  background-image: url(../img/Icon-Laptop.png);
}
.locked::before {
  background-image: url(../img/Icon-Locked.png);
}
/* CONTACT SECTION */
.dark {
  background-color: #222222;
  background-image: url(../img/Map.png);
  background-repeat: no-repeat;
  background-position: right bottom 20px;
}
.title-white {
  color: #fff;
}
form {
  width: 940px;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.form-list {
  display: flex;
  flex-wrap: wrap;
}
.form-item,
textarea {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #bbbbbb;
  font-weight: 700;
  line-height: 1.2;
  border: 1px solid #cccccc;
}
.form-item {
  border-radius: 2px;
  flex-basis: 460px;
  height: 54px;
  padding-left: 20px;
}
.form-item:not(:last-child) {
  margin-bottom: 27px;
}
textarea {
  border-radius: 5px;
  flex-basis: 460px;
  height: 216px;
  resize: none;
  padding-top: 20px;
  padding-left: 20px;
}
.form-item::placeholder,
textarea::placeholder {
  text-transform: uppercase;
}
.form-item:required:focus,
textarea:required:focus {
  outline: none;
}
input:required:focus:valid:not(:placeholder-shown),
textarea:required:focus:valid:not(:placeholder-shown) {
  border-color: green;
}

.form-item:required:focus:invalid:not(:placeholder-shown),
textarea:required:focus:invalid:not(:placeholder-shown) {
  border-color: red;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.form-btn {
  border-radius: 3px;
  background-color: #fed136;
  width: 240px;
  height: 66px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
