$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;
$cursive-font: 'Kaushan Script', cursive;

// main colors
$ff-color: #ffffff;
$sf-color: #333333;
$tf-color: #999999;

// font color
$first-color: #f38181;
$second-color: #fce38a;
$third-color: #95e1d3;

$svg_focus_color: #ffffff;
